/*GERAL*/
*{
    margin: 0;
    font-family: 'Hind', sans-serif;
}
input, input.form-control{
    border-radius: 0;
}
/*NAVBAR*/
.navbar{
    width: 100%;
    min-height: 90px;
    margin: 0;
    border: 0;
    background-color: #2366b2;
    border-bottom: 2px solid #205ea0;
}
.nav-item {
    color: #fff;
    font-size: 18px;
    text-shadow: 2px 2px 3px #104173;
}
.nav-item:hover{
    color: #fff;
}
.nav-item.nav-localizacao{
    font-weight: bold;
    text-transform: uppercase;
}
.nav-item .fa-map-marker-alt{
    margin-left: 5px;
    color: #86BF3C;
}
.logo-nav{
    display: block;
    margin-left: 0;
    position: absolute;
    top: 30px;
    left: 2%;
    box-shadow: 1px 1px 5px #113254;
    border-radius: 13px;
}
/*STEPS*/
.custom-steps{
    padding: 70px 0 50px 0;
}
.custom-steps-step{
    width: 70px;
    height: 70px;
    padding: 18px;
    font-size: 24px;
    text-align: center;
    border: 3px solid #3F668E;
    border-radius: 35px;
    box-shadow: 0px 0px 5px #365d84;
    background-color: #fff;
    z-index: 1;
}
.custom-steps-step .steps-item{
    color: #3F668E; 
}
.custom-steps-step.active{
    border-color: #69BA5C;
}
.custom-steps-step.active .steps-item{
    color: #69BA5C;

}
.custom-steps:before{
    top: 105px;
    bottom: 0;
    position: absolute;
    content: "";
    height: 2px;
    width: 95%;
    background-color: #3F668E;
    padding-right: 30px;
}
/*TABELA*/
.tabela-menorpreco .form-check-input {
    position: relative;
    margin-top: auto;
    margin-left: auto;
}
.tabela-menorpreco{
    border-width: 1px 1px 1px 1px;
    border-color: #dee2e6;
    border-style: solid;
}
.tabela-menorpreco .icone-tabela{
    font-size: 22px;
    padding: 10px 10px 0px 10px;
}
/*BOTÕES*/
.conteudo-home .btn{
    border-radius: 0;
    font-size: 18px
}
.btn-menorpreco{
    background-color: #2366B2;
    border-color: #2366B2;
    color: #fff;
}
.btn-menorpreco-verde{
    background-color: #51b544;
    border-color: #51b544;
    color: #fff;
}
.btn-menorpreco:hover{
    background-color: #104173;
    border-color: #104173;
}
.btn-menorpreco-verde:hover{
    background-color: #21840f;
    border-color: #21840f;
}
/*MODAL*/
.modal-dialog{
    max-width: 1200px;
}

/*HOME*/
.pesquisa-home{
    height: 500px;
    background-color: #2366b2;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 180px;
}
.pesquisa-home h1{
    text-transform: uppercase;
    font-weight: bold;
    color: #ebf4ff;
    font-size: 36px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px #153e69;
}
.input-pesquisa-home{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0 15px 0 21px;
    box-shadow: 2px 2px 10px #205EA0;
    margin-top: 10px
}
.input-pesquisa-home input{
    padding: 6px 0;
    height: 43px;
    font-size: 18px;
    color: #555;
    border: none;
    width:85%;
}
.submit-pequisa-home{
    width: 10%;
    height: 36px;
    padding: 9px 0px 9px 20px;
    font-size: 25px;
    border-radius: 25px;
    background-color: #fff;
    border:none;
    color: #86BF3C;
    float: right;
    
}
.submit-pequisa-home .fas{
    float: right;
}
.submit-pequisa-home:hover{
    color: #389300;
    cursor: pointer;
}
.submit-pequisa-home:focus, .input-pesquisa-home input:focus{
    outline: 0;
}
.nova-busca p{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 5px #153e69;
    margin-bottom: 0;
}
.ou-spn-home{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
    margin-top: 50px;
    color: #ebf4ff;
    text-shadow: 2px 2px 5px #153e69;
}
/*CARRINHO*/
p.label-carrinho{
    font-size: 20px;
}

/*GENERICO*/
    /*TAMANHOS*/
        .wp-100{
            width: 100%;
        }
    /*MARGEM*/
        .mb-15{
            margin-bottom: 15px;
        }
        .ml-150{
            margin-left: 150px;
        }
