/*GERAL*/
*{
    margin: 0;
    font-family: 'Hind', sans-serif;
}
.form-control{
    border-radius: 0;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/*NAVBAR*/
.navbar{
    width: 100%;
    min-height: 90px;
    margin: 0;
    border: 0;
    background-color: #2366b2;
    border-bottom: 2px solid #205ea0;
}
.nav-item {
    color: #fff;
    font-size: 18px;
    text-shadow: 2px 2px 3px #104173;
}
.nav-item:hover{
    color: #fff;
}
.nav-item.nav-localizacao{
    font-weight: bold;
    text-transform: uppercase;
}
.nav-item .fa-map-marker-alt{
    margin-left: 5px;
    color: #86BF3C;
}
.logo-nav{
    display: block;
    margin-left: 0;
    position: absolute;
    top: 30px;
    left: 2%;
    box-shadow: 1px 1px 5px #113254;
    border-radius: 13px;
    cursor: pointer;
}
/*STEPS*/
.custom-steps{
    padding: 70px 0 50px 0;
    cursor: default;
}
.custom-steps-step{
    width: 70px;
    height: 70px;
    padding: 18px;
    font-size: 24px;
    text-align: center;
    border: 3px solid #3F668E;
    border-radius: 35px;
    box-shadow: 0px 0px 5px #365d84;
    background-color: #fff;
    margin: auto auto 2px;
}
.custom-steps-step .steps-item{
    color: #3F668E;
    cursor: default; 
}
.active .custom-steps-step{
    border-color: #69BA5C;
}
.active .custom-steps-step .steps-item{
    color: #69BA5C;
}
.custom-steps:before{
    top: 105px;
    bottom: 0;
    position: absolute;
    content: "";
    height: 2px;
    width: 95%;
    background-color: #3F668E;
    padding-right: 30px;
}
.step-desc{
    z-index: 1;
    text-align: center;
    color: #3F668E;
    font-size: 18px;
}
.step-desc.active{
    color: #46aa34;
}
.step-desc.active{
    transform: scale(1.15);
}

/*TABELA*/
.tabela-menorpreco .form-check-input {
    position: relative;
    margin-top: auto;
    margin-left: auto;
}
.tabela-menorpreco{
    border-width: 1px 1px 1px 1px;
    border-color: #dee2e6;
    border-style: solid;
}
.tabela-menorpreco .icone-tabela{
    font-size: 22px;
    vertical-align: middle;
}
.desc-produtos{
    font-size: 14px;
    opacity: 0.8;
}
/*BOTÕES*/
.conteudo .btn{
    border-radius: 0;
    font-size: 18px
}
.btn-menorpreco{
    background-color: #2366B2;
    border-color: #2366B2;
    color: #fff;
}
.btn-menorpreco-verde{
    background-color: #51b544;
    border-color: #51b544;
    color: #fff;
}
.btn-menorpreco:hover{
    background-color: #104173;
    border-color: #104173;
}
.btn-menorpreco-verde:hover{
    background-color: #21840f;
    border-color: #21840f;
}
/*MODAL*/
.modal-dialog{
    max-width: 1200px;
}

/*HOME*/
.pesquisa-home{
    height: 500px;
    background-color: #2366b2;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 180px;
}
.pesquisa-home h1{
    text-transform: uppercase;
    font-weight: bold;
    color: #ebf4ff;
    font-size: 36px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px #153e69;
}
.input-pesquisa-home{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0 15px 0 21px;
    box-shadow: 2px 2px 10px #205EA0;
    margin-top: 10px
}
.botao-pesquisa-home{
    width: 100%;
    height: 45px;
    background-color: #86BF3C;
    border: 1px solid #6eaa20;
    border-radius: 25px;
    padding: 0 15px 0 21px;
    box-shadow: 2px 2px 10px #205EA0;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.botao-pesquisa-home:hover{
    background-color: #70ad20;
    text-shadow: 1px 1px 5px #477a00;
}
.input-pesquisa-home input{
    padding: 6px 0;
    height: 43px;
    font-size: 18px;
    color: #555;
    border: none;
    width:85%;
}
.submit-pequisa-home{
    width: 10%;
    height: 36px;
    padding: 9px 0px 9px 20px;
    font-size: 25px;
    border-radius: 25px;
    background-color: #fff;
    border:none;
    color: #86BF3C;
    float: right;
    
}
.submit-pequisa-home .fas{
    float: right;
}
.submit-pequisa-home:hover{
    color: #389300;
    cursor: pointer;
}
.submit-pequisa-home:focus, .input-pesquisa-home input:focus{
    outline: 0;
}
.nova-busca p{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 5px #153e69;
    margin-bottom: 0;
}
.ou-spn-home{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
    margin-top: 50px;
    color: #ebf4ff;
    text-shadow: 2px 2px 5px #153e69;
}
.nova-busca:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.nova-busca:not( :hover ){
    transform: scale(1.0);
    transition-duration: 1s;
}
/*CARRINHO*/
p.label-carrinho{
    font-size: 18px;
}
.autocomplete-carrinho{
    border-width: 0 1px 1px 1px;
    border-color: #dee2e6;
    border-style: solid;
    box-shadow: 0px 2px 13px #bfbfbf;
    position: absolute;
    background-color: #fff;
    z-index: 1;
}
.table.autocomplete-carrinho th, .table.autocomplete-carrinho td{
    border-top: 0;
}
.table.autocomplete-carrinho tr:hover{
    background-color:  #f2f6f9;
}
.autocomplete-carrinho th{
    padding: 0 0.6rem;
    vertical-align: middle
}
.autocomplete-carrinho th .fas{
    font-size: 20px;
}
/*SLIDER*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2366B2;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2366B2;
    cursor: pointer;
}

/*GENERICO*/
    .desabilitado{
        opacity: 0.7;
    }
    .hide {
        display: none;
    }
    .btn-fixo{
        position: fixed;
        bottom: 30px;
        right: 250px;
    }
    /*TAMANHOS*/
        .wp-100{
            width: 100%;
        }
    /*MARGEM*/
        .mb-15{
            margin-bottom: 15px;
        }
        .ml-150{
            margin-left: 150px;
        }
